<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carolyn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carolyn.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>carolyn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$carolyn</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NutritionDBEntities1" Order="2" Enabled="False">
          <Destination Path="Data Source=kagah8g1zy.database.windows.net;Initial Catalog=NutritionDB;User ID=vssuser;Password=Password@1" Name="Data Source=kagah8g1zy.database.windows.net;Initial Catalog=NutritionDB;User ID=vssuser;Password=Password@1;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Carolyn.NutritionDBEntities1, Carolyn" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NutritionDBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/NutritionDBModel.csdl|res://*/NutritionDBModel.ssdl|res://*/NutritionDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kagah8g1zy.database.windows.net;Initial Catalog=NutritionDB;User ID=vssuser;Password=Password@1;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>